<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069607834406-ukgeis192c0vhthcj28gm1n4e8agdakh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069607834406-ukgeis192c0vhthcj28gm1n4e8agdakh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1069607834406-hl9u2d6qfjlcer86cr6ltl4sj9p3iubh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1-Pxi0P6GqrpYJBK1k3WX-NGj8k1R-_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1069607834406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ntamobile.flutter-chat-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-bdfc2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-bdfc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069607834406:ios:b308862f063e0e1b19e7e7</string>
</dict>
</plist>